<div class="container" >
  <div class="card">
    <div class="card-header">ajouter plaque</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onAddPlaque(f)">
        <label class="form-label">numero d'article</label>
        <input  type="number" class="form-control" ngModel name="numeroArticle">
        <label class="form-label">designation:</label>
        <input  type="text" class="form-control" ngModel name="designation">
        <label class="form-label">groupe d'article:</label>
        <select type="number" class="form-control" ngModel name="groupeArticle">
          <option *ngFor="let gr of groupesArticle?._embedded?.groupeArticles" [value]="gr.id">
            {{gr.designation}}
          </option>
        </select>
        <input type="hidden" name="type">
          <label class="form-label">taille:</label>
          <select
            class="form-control form-control-sm"
            ngModel
            name="taille" >
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let taille of taillePlaques?._embedded?.taillePlaques"
                    [value] ="taille.id" >
              {{taille.designation}}
            </option>
          </select>
        <label class="form-label">quantite:</label>
        <input type="number" class="form-control" ngModel name="quantite">
        <button class="btn btn-primary mt-2">ajouter</button>
      </form>
    </div>
  </div>
</div>
