<div class="container" >
  <div class="card">
    <div class="card-header">modifier plaque</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onUpdatePlaque(f)">
        <input name="id" type="hidden" [(ngModel)]="plaque.id" >
        <label class="form-label">designation:</label>
        <select type="number" class="form-control" name="listPlaques" [(ngModel)]="plaque.listPlaques.id" >
          <option *ngFor="let p of listPlaques?._embedded?.listPlaqueses" [value]="p.id">
            {{p.designation}}
          </option>
        </select>
        <label class="form-label">groupe d'article:</label>-->
        <input type="hidden" [(ngModel)]="plaque.type" name="type">
        <ng-template [ngIf]="plaque?.taille" [ngIfElse]="chute">
          <label class="form-label">taille:</label>
          <select
            class="form-control form-control-sm"
            [(ngModel)]="plaque.taille.id"
            name="taille" >
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let taille of taillePlaques?._embedded?.taillePlaques"
                    [value] ="taille.id" >
              {{taille.designation}}
            </option>
          </select>
        </ng-template>
        <ng-template #chute>
          <label class="form-label">longueur:</label>
          <input  type="number" class="form-control" [(ngModel)]="plaque.longueur" name="longueur">
          <label class="form-label">largeur:</label>
          <input  type="number" class="form-control" [(ngModel)]="plaque.largeur" name="largeur">
        </ng-template>
        <label class="form-label">quantite:</label>
        <input type="number" class="form-control" [(ngModel)]="plaque.quantite" name="quantite">
        <input type="hidden" class="form-control" [(ngModel)]="plaque.quantiteMoisPrecedent" name="quantiteMoisPrecedent">
        <button class="btn btn-primary mt-2">modifier</button>
      </form>
    </div>
  </div>
</div>
