<ng-template #mymodalAdd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ajouter une plaque</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="fa fa-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-list-consomable (newItemEvent)="onClose($event,modal)"></app-add-list-consomable>
  </div>
</ng-template>

<ng-template #mymodalUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >modifier un consommable</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="fa fa-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-list-consomable [consomable]="consomable" (newItemEvent)="onClose($event,modal)"></app-edit-list-consomable>
  </div>
</ng-template>
<div class="p-4">
  <div class="card">
    <div class="card-header">Liste des consomables</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f)" class="form-inline">
        <input placeholder="keyword" ngModel name="keyword"/>
        <button class="btn btn-outline-success"><span class="fa fa-search"></span></button>
      </form>
      <button class="btn btn-primary" (click)="open(mymodalAdd)"><span class="fa fa-plus"></span></button>
      <table class="table">
        <tr>
          <th>Numero d'article</th><th>Désignation</th><th>Groupe d'article</th>
        </tr>
        <tr *ngFor="let consomable of listConsomables?._embedded?.listConsomables">
          <td>{{consomable?.numeroArticle}}</td>
          <td>{{consomable?.designation}}</td>
          <td>{{consomable?.categorie?.designation}}</td>
          <td><a class="btn btn-outline-danger" (click)="onDeleteConsomable(consomable)"><i class="fa fa-trash"></i></a></td>
          <td><a class="btn btn-outline-warning" (click)="openUpdate(mymodalUpdate,consomable)"><i class="fa fa-edit"></i></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
