<ng-template #mymodalAdd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ajouter une plaque</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="fa fa-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <!--<app-add-consomable (newItemEvent)="onClose($event,modal)"></app-add-consomable>-->
    <app-add-commande (newItemEvent)="onClose($event,modal)"></app-add-commande>
  </div>
</ng-template>

<div class="container">
  <div class="card">
    <div class="card-header">commandes</div>
    <div class="card-body">
      <button class="btn btn-primary fa fa-plus" (click)="open(mymodalAdd)"></button>
      <table class="table">
        <tr>
          <th>numero</th>
          <th>client</th>
          <th>date</th>
          <th>temps</th>
          <th>details</th>
        </tr>

        <tr *ngFor="let commande of commandes?._embedded?.commandes">
          <td>{{commande?.id}}</td>
          <td>{{commande?.client?.nom}}</td>
          <td>{{commande?.date}}</td>
          <td>{{commande?.time}}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="detail(commande)"><span class="fa fa-info"></span></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
