<p>profile works!</p>

<div class="card">
  <div class="card-header">profile</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"><span class="fw-bold">username: </span>{{user?.username}}</li>
      <li class="list-group-item"><span class="fw-bold">nom: </span>{{user?.nom}}</li>
      <li class="list-group-item"><span class="fw-bold">prénom: </span>{{user?.prenom}}</li>
      <li class="list-group-item"><span class="fw-bold">telephone: </span>{{user?.phone}}</li>
      <li class="list-group-item"><span class="fw-bold">mail: </span>{{user?.mail}}</li>
    </ul>
  </div>
</div>
