<div class="container" >
  <div class="card">
    <div class="card-header">modifier plaque</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onAddPlaque(f)">
        <label class="form-label">designation:</label>
        <select type="number" class="form-control" name="listPlaques" ngModel>
          <option *ngFor="let p of listPlaques?._embedded?.listPlaqueses" [value]="p.id">
            {{p.designation}}
          </option>
        </select>
        <label class="form-label">longueur:</label>
        <input  type="number" class="form-control" ngModel name="longueur">
        <label class="form-label">largeur:</label>
        <input  type="number" class="form-control" ngModel name="largeur">
        <label class="form-label">quantite:</label>
        <input type="number" class="form-control" ngModel name="quantite">
        <input type="hidden" class="form-control" ngModel name="quantiteMoisPrecedent">
        <button class="btn btn-primary mt-2">ajouter</button>
      </form>
    </div>
  </div>
</div>
