 <div class="p-4">
   <div class="card">
     <div class="card-header">liste des utilisateurs</div>
     <div class="card-body">
       <form #f="ngForm" (ngSubmit)="onSearch(f)" class="form-inline">
         <input placeholder="keyword" class="input-group-sm" ngModel name="keyword"/>
         <button class="btn btn-outline-success"><span class="fa fa-search"></span></button>
       </form>
       <button class="btn btn-primary" (click)="onAddUtilisateur()"><span class="fa fa-plus"></span></button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nom</th><th>Prénom</th><th>Username</th><th>mail</th><th>telephone</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of utilisateurs?.['_embedded']?.['utilisateurs']">
          <td>{{user?.['nom']}}</td>
          <td>{{user?.['prenom']}}</td>
          <td>{{user?.['username']}}</td>
          <td>{{user?.['mail']}}</td>
          <td>{{user?.['phone']}}</td>
          <td>
            <a class="btn btn-danger" (click)="onDeleteUtilisateur(user)"><i class="fa fa-trash"></i></a>
            <a class="btn btn-warning ms-2" (click)="onEditUtilisateur(user)"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
     </div>
   </div>
  </div>
