<div class="card">
  <div class="card-header">plaques consommées</div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>numero</th>
        <th>designation</th>
        <th>groupe article</th>
        <th>quantite consommée</th>
        <th>date</th>
        <th>time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let up of utilisateurPlaques?._embedded?.utilisateurPlaques">
        <td>{{up?.plaque?.listPlaques?.numeroArticle}}</td>
        <td>{{up?.plaque?.listPlaques?.designation}}</td>
        <td>{{up?.plaque?.listPlaques?.groupeArticle?.designation}}</td>
        <td>{{up?.quantite}}</td>
        <td>{{up.date}}</td>
        <td>{{up.time}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

