<div class="container">
  <div class="card">
    <div class="card-header">commandes</div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="fw-bold">Client: </span>{{client?.nom}}
        </li>
      </ul>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>numero</th>
          <th>assurée par</th>
          <th>date</th>
          <th>temps</th>
          <th>details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let commande of client?.commandes?._embedded?.commandes">
          <td>{{commande?.id}}</td>
          <td>{{commande?.commercial?.nom}} {{commande?.commercial?.prenom}}</td>
          <td>{{commande?.date}}</td>
          <td>{{commande?.time}}</td>
          <td>
            <button class="btn btn-primary" (click)="detail(commande)"><span class="fa fa-info"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
