<app-nav-plaque (newItemEvent)="onSearch($event)"></app-nav-plaque>
<div class="p-4">
  <ng-container>
    <table class="table">
      <tr>
        <th>numero article</th><th>designation</th><th>groupe d'article</th><th>largeur</th><th>longueur</th><th>surface</th><th>type</th><th>quantite</th>
      </tr>
      <tr *ngFor="let plaque of plaques">
        <td>{{plaque?.listPlaques?.['numeroArticle']}}</td>
        <td>{{plaque?.listPlaques?.['designation']}}</td>
        <td>{{plaque?.listPlaques?.groupeArticle?.designation}}</td>
        <ng-template [ngIf]="plaque?.taille" [ngIfElse]="chute">
          <td>{{plaque?.taille?.largeur}}</td>
          <td>{{plaque?.taille?.longueur}}</td>
          <td>{{plaque?.taille?.surface}}</td>
        </ng-template>
        <ng-template #chute>
          <td>{{plaque?.largeur}}</td>
          <td>{{plaque?.longueur}}</td>
          <td>{{plaque?.surface}}</td>
        </ng-template>
        <td>{{plaque?.type}}</td>
        <td>{{plaque?.quantite}}</td>
        <ng-container *ngIf="authService.roleMatches('responsable production')">
          <td>
            <button class="btn btn-outline-danger" (click)="onDeletePlaque(plaque)"><span class="fa fa-trash"></span></button>
          </td>
          <td>
            <button class="btn btn-outline-warning m-lg-2" (click)="onUpdatePlaque(plaque)"><span class="fa fa-edit"></span></button>
          </td>
        </ng-container>
        <td>
          <button class="btn btn-outline-success" [ngClass]="plaque.quantite==0?'disabled':''" (click)="onUsePlaque(plaque)">consommer</button>
        </td>
      </tr>
    </table>
  </ng-container>
</div>
